<div>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;"
        class="p-4">
        <h3>Hủy thanh toán</h3>
        <span style="width: 250px;" class="text-center">Khách hàng có chắc chắn muốn hủy giao dịch này?</span>
        <div style="display: flex; justify-content: center; align-items: center; gap: 10px;" class="pt-3">

            <button
                style="background-color: rgb(245, 247, 249); color: black; border: none; border-radius: 20px; padding: 10px 20px; width: 150px;" (click)="closeDialog()">Đóng</button>
            <button
                style="background-color: rgb(220, 53, 69); color: white; border: none; border-radius: 20px; padding: 10px 20px;width: 150px;" (click)="closeDialog()">Xác
                nhận hủy</button>
        </div>
    </div>
</div>