<div class="d-flex justify-content-center align-items-center" style="height: 100vh;" *ngIf="loader">
        <div class="spinner-border text-danger" role="status">
                <span class="sr-only">Loading...</span>
        </div>
</div>
<div class="container relative" style="padding-top: 150px;" *ngIf="!loader">
        <div class="row">
                <div class="col-6">
                    <img src="https://scontent.fhan2-5.fna.fbcdn.net/v/t39.30808-6/419512108_768440358647681_4472591321869655233_n.jpg?stp=cp6_dst-jpg&_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=hT9lUOEjWtwQ7kNvgGR6YzS&_nc_ht=scontent.fhan2-5.fna&oh=00_AYCGxNXQexCEVvD_7iF-csoM-E7ZFkagRjv_NOrwwd7g1Q&oe=66537B25" alt="Company Image" style="width: 100%; height: auto;">
                </div>
                <div class="col-6" style="background-color: antiquewhite; padding: 20px;">
                    <div class="pt-5">
                        <h3>Vận tải Quang Dũng</h3>
                        <span class="fw-normal" style="font-size: 18px; font-weight: bold;">
                            Được thành lập tháng 6 năm 2014 với lĩnh vực chính là vận chuyển hàng hóa quốc tế thông qua các dòng xe tải và container. Đến tháng 10 năm 2022 trải qua 9 năm hình thành và phát triển Công Ty Vận Tải Quang Dũng nhận thấy rằng ngoài việc phát triển lĩnh vực vận chuyển hàng hóa thì cần phát triển thêm các tuyến vận tải hành khách và cho thuê xe du lịch. Nghĩ là làm CEO Công Ty Vận Tải Quốc Tế Quang Dũng anh Nguyễn Văn Quang đã thuyết phục hội đồng quản trị chuyển hướng đầu tư đầu tư phát triển tuyến xe Thanh Hóa – Lào Cai - Sa Pa với dòng xe TRACOMECO cao cấp VIP 24 phòng và 34 phòng, với sứ mệnh đem đến cho quý khách hàng phương tiện di chuyển thuận lợi và an toàn nhất.
                            Bên cạnh đó cũng cùng thời điểm này CEO Nguyễn Văn Quang đã đầu tư xe tour du lịch 34 và 45 chỗ ngồi, 24 Phòng, 34 Phòng cho thuê du lịch cho công ty, gia đình, cũng như hợp tác cùng các công ty du lịch để vận chuyển khách đến các địa điểm du lịch nổi tiếng tại Việt Nam như: Hà Nội, Nha Trang, Đà Lạt, SaPa, Hạ Long… Chưa dừng lại ở đó Đức Phát sẽ còn tiếp tục phát triển với mong muốn đem lại thật nhiều giá trị tới quý khách hàng.
                        </span>
                    </div>
                </div>
            </div>
            
            
</div>